/* ESTILO HTML */
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* ESTILO BODY */
body {
    padding: 0px;
    margin: 0px;
}

nav {
    /* Obligo al nav a que ocupe todo el ancho para que flex-wrap pueda bajarlo a la siguiente línea cuando los elementos 
    no caben en estas */
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

nav a {    
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: transparent;
}

nav a:hover {
    /* 0: desplazamiento horizontal (offset-x)
    10px: desplazamiento vertical (offset-y)
    20px: desenfoque
    rgba(0,0,0,0.2) → color de la sombra
    (0,0,0) = negro.
    0.2 = transparencia del 20%. */
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

/* ESTILO BODY: Cabecera */
header {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    /* Uso flex-wrap para permitir que el menú de navegación baje a la siguiente línea */
    flex-wrap: wrap; 
}

#altaUsuario, #login {
    display: inline-block;              /* Para poder darle padding */
    padding: 8px 15px;                  /* Espacio dentro del “botón” */
    background-color: #556B2F;      
    color: white;               
    text-decoration: none;              /* Quita subrayado */
    border-radius: 15px;                /* Esquinas redondeadas */
    font-weight: none;
    border: none;                       /* Para quitar el borde negro del botón de login */
    font-size: 16px;
    align-items: center;
}

#altaUsuario {
    margin-left: 10px;
}

#iniciarSesion {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

#usuario, #pwd {
    border-radius: 15px;
}

#logo {
    width: 200px;
}

/* ESTILO BODY: Main */
.calendarios {
    background: #f8f8f8;
    border-radius: 16px;
    padding: 15px;
    margin: 30px 50px 60px 50px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: grid;
    grid-auto-rows: auto;                       /* Altura para las filas */
    grid-template-columns: repeat(2, 1fr);      /* Para poner 2 meses por fila */
    justify-items: center;
}

.calendarios h1 {
    text-align: center;
    grid-column: 1 / -1;                        /* Hace que el título ocupe todas las columnas */
}

.mes {
    background: #eeeeee;
    border-radius: 16px;
    border: 2px solid #ccc;
    width: 70%;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.mes td {
    text-align: center;
    padding: 6px;
}

.baja {
    background-color: #90EE90;
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #90EE90;
    margin: 5px;
    text-align: justify;
}

.media {
    background-color: #FFD700;
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #FFD700;
    margin: 5px;
    text-align: justify;
}

.alta {
    background-color: #FF6347;
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #FF6347;
    margin: 5px;
    text-align: justify;
}

.ofertas {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: nowrap;                            /* No permito a los artículos bajar si no caben */
    margin: 50px;
}

.ofertas article {
    border-radius: 16px;
    background-color: #eeeeee;
    border: 2px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    justify-content: center;
    padding: 15px;
    width: 300px;
}

.ofertas article h2 {
    text-align: center;
    border-bottom: #556B2F solid 2px;
    max-width: 400px;
    padding-bottom: 5px;
}

.ofertas article small {
    font-style: italic;
    color: grey;
}

/* ESTILO FOOTER */
footer {
    background-color: #556B2F;
    width: auto;
    padding: 10px;
}

footer p, footer a {
    margin-left: 20px;
}

footer p {
    font-weight: bold;
}

footer a:link {
    font-weight: normal;
}

#copyright, #ultimaModificacion {
    font-weight: normal;
    text-align: center;
}

#sobreNosotros {
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    width: 150px;
}

/* LINKS */
a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 40px;
}

a:visited {
    color: black;
    text-decoration: none;
}

/* RESPONSIVE DESIGN */
/* Para móvil he puesto un máximo de 768px */
@media (max-width: 768px) {

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px;
    }

    #logo {
        width: 80px;
        order: 1;
        padding-bottom: 10px;
    }

    header > h1 {
        font-size: 1.1rem;
        margin: 0px;
        order: 2;
        margin: 0px 0px 0px 10px;
        flex-shrink: 1;
    }

    #iniciarSesion {
        order: 3;
        margin-left: auto;
        gap: 3px;
    }

    #iniciarSesion label {
        font-size: 0.8rem;
    }

    #usuario, #pwd {
        width: 60px;  
    }

    #login {
        font-size: 0.7rem;
        padding: 4px 8px;
    }

    #altaUsuario {
        order: 3;
        margin-left: 5px;
        padding: 4px 8px;
        font-size: 0.7rem;
        white-space: nowrap;
    }

    nav {
        width: 100%;              /* El nav ocupa toda la línea y baja solo */
        order: 99;
    }

    nav a {
        margin-right: 6px !important;
        font-size: 0.8rem;
    } 

    a:link {
        margin-right: 6px;
    }

    main {
        font-size: 0.9rem;
    }

    .calendarios {
        margin: 15px;
        padding: 10px;
    }

    .mes {
        width: 100%;
        margin: 10px 0;
    }
}
